* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.app-container {
  display: flex;
  flex: 1;
}

.app-main {
  flex: 1;
  overflow-y: auto;
}